html {
  background-color: cornsilk;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.navbar {
  width: 100%;
  height: 15%;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-around;

  border-radius: 0 0 20px 20px;

  background-color: tomato;

  position: relative;
}

.nav {
  width: 15rem;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
}

.nav--link {
  font-size: 18px;
  text-decoration: none;
  color: black;

  border: none;
  border-radius: 20px;

  padding: 0.5rem;
  background-color: lightgreen;

  transition: 0.4s all;
}

.nav--link:hover {
  color: whitesmoke;

  position: relative;
  transform: scale(1.2);

  background-color: green;

  box-shadow: 0 0 1rem lightgreen;
}

.nav--link:active {
  color: black;

  background-color: lightgreen;
  box-shadow: 0 0 2rem green;
}

.content {
  width: 97%;
  height: 75%;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
}

.left {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.box {
  width: 100%;
  height: 50%;
}

.box-1 {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.adjust {
  width: 80%;
}

.box-input {
  width: 100%;

  display: flex;
  flex-direction: row;

  justify-content: space-between;

  margin-bottom: 1rem;
}

.input {
  margin: 0 1rem !important;
}

.box-button {
  width: 100%;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: flex-start;

  margin-left: 1rem;
}

.adjust-1 {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  width: 40%;
}

.subtitle {
  margin-left: 32%;
}

.box-2 {
  display: flex;

  align-items: center;
  justify-content: center;

  background-image: url(./inicial/img/agenda.jpg);
  background-repeat: no-repeat;
}

.box-glass {
  width: 85%;
  height: 80%;

  padding: 1rem;

  border-radius: 10px;

  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.box-grid {
  display: grid;

  gap: 7rem;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.item {
  align-self: center;
  justify-self: center;
}

.right {
  width: 50%;
  height: 100%;

  padding-top: 20px;

  display: flex;

  justify-content: center;
}

.field {
  width: 95%;
  height: 98%;

  overflow-y: scroll;

  display: flex;

  align-items: start;
  justify-content: center;
}

.table {
  font-family: Arial, Helvetica, sans-serif;

  border-collapse: collapse;

  background-color: white;

  width: 100%;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table td:hover {
  background-color: #ddd;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.footer {
  width: 100%;
  height: 10%;

  display: flex;

  align-items: center;
  justify-content: center;
}

.info {
  width: 50%;
  height: 90%;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-around;
}

.icon::before {
  content: "©";
}

@media (max-width: 1000px) {
  .navbar {
    flex-direction: column;
  }

  .content {
    flex-direction: column;
  }

  .content .left {
    width: 80vw;
  }

  .content .adjust {
    margin-top: 10vh;
  }

  .content .input {
   margin: 1rem 0 !important;
  }

  .content .box-input {
    flex-direction: column;
  }

  .content .box-button, .adjust-1 {
    flex-direction: column;
    justify-content: center;
  }

  .content .box-2 {
    display: none;
  }

  .content .right {
    width: 98%;
  }

  .content .field {
    height: 42%;
  }
}
